<div>
    <h2 id="page-heading">
        <span jhiTranslate="criteriaApp.movie.home.title">Movies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movie" [routerLink]="['/movie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="criteriaApp.movie.home.createLabel">
            Create a new Movie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="movies?.length === 0">
        <span jhiTranslate="criteriaApp.movie.home.notFound">No movies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="movies && movies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="criteriaApp.movie.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="year"><span jhiTranslate="criteriaApp.movie.year">Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subject"><span jhiTranslate="criteriaApp.movie.subject">Subject</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="popularity"><span jhiTranslate="criteriaApp.movie.popularity">Popularity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="awards"><span jhiTranslate="criteriaApp.movie.awards">Awards</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies ;trackBy: trackId">
                    <td><a [routerLink]="['/movie', movie.id, 'view']">{{ movie.id }}</a></td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td jhiTranslate="{{ 'criteriaApp.Subject.' + movie.subject }}">{{ movie.subject }}</td>
                    <td>{{ movie.popularity }}</td>
                    <td>{{ movie.awards }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/movie', movie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/movie', movie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(movie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="movies && movies.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
